.App {
  text-align: center;
  background: #222222;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Board {
  padding-top: 50px;
}

.grid-container {
    height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 16% 67% 17%;
  grid-template-areas: "general o2_tracker o2_tracker heat" "general board board heat" "players players players players";
}

.board { grid-area: board; }

.o2_tracker { grid-area: o2_tracker; }

.heat { grid-area: heat; }

.players {
  grid-area: players;
  display: flex;
}

.general { grid-area: general; }

svg g polygon {
  stroke: #000;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}

svg g {
  fill: #FFF;
  fill-opacity: 0.10;
}

.tile {
  text-align: start;
  color: #FFF;
  transform-origin: -50px -50px;
  margin: 0;
}

.tile-object {
  width: 50px;
  height: 50px;
  position: relative;
  left: -10px;
}

.tile-icon {
  width: 14px;
}

.board {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  text-align: center;
  height: 100%;
}

.mars-holder {
  grid-row-start: 1;
  grid-column-start: 1;
  height: 100%;
}

.mars-image {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    z-index: 1;
  height: 100%;
  width: auto;
}

.hex-board {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 2;
  height: 100%;
}

.grid {
  height: 100%;
}
