.hand-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 0.4fr 0.4fr 2.2fr;
    grid-template-areas: "cost tags tags tags" "name name name name" "effects effects effects effects";
}

.cost {
    grid-area: cost;
    background: yellow;
    color: black;
}

.tags {
    grid-area: tags;
    display: flex;
    justify-content: flex-end;
}

.name {
    grid-area: name;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.event {
    background: orangered;
}

.automated {
    background: green;
}

.active {
    background: blue;
}

.effects {
    grid-area: effects;
    display: flex;
    flex-direction: column;
}

.actual-effects {
    flex-shrink: 1;
    padding: 10px;
}

.art {
    background: black;
    flex-grow: 1;
    overflow: hidden;
    flex-basis: 0;
}

.art-image {
    flex-basis: auto;
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.vp_holder {
    display: flex;
    flex-shrink: 1;
}

.vp {
    grid-area: vp;
    flex-shrink: 1;
}

.vp_description {
    flex-grow: 1;
    grid-area: vp_description;
}

.card {
    height: 350px;
    width: 275px;
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    /*padding: 8px;*/
    margin: 8px;
    background: #DDD;
}

.hand-card-req {
    margin-right: auto;
}

.hand-card-tag {
    height: 100%;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.hand-card-tag-holder {
    justify-content: flex-end;
    height: 25px;
}

.box-holder {
    display: inline-block;
}

.production-holder {
    height: 25px;
    flex: 0 1 auto;
}

.production-box {
    background: saddlebrown;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.production {
    height: 100%;
}

.credit-production {
    height: 25px;
    width: 25px;
    background: yellow;
    color: black;
}
